In [1]:
import pandas as pd

In [2]:
# Get data from csv file
flight_data = pd.read_csv("~/Documents/Projects/SPS/IS362/DATA/project1_data.csv")

In [3]:
# First we view the dataset
flight_data.head()

  CityxAirport_table  AK_on_time  AK_delayed  AMW_on_time  AMW_delayed
0                 LA         497          62          694          117
1                Pho         221          12         4840          415
2                 SD         212          20          383           65
3                 SF         503         102          320          129
4                Sea        1841          30          201           61

In [4]:
# flight_data['AK_delay_ratio'] = []
flight_data.sum()

CityxAirport_table    LAPhoSDSFSea
AK_on_time                    3274
AK_delayed                     226
AMW_on_time                   6438
AMW_delayed                    787
dtype: object

In [5]:
# Figure out how often delayed flights compare to on time flights
AK_ratio = 226 / 3274
AMW_ratio = 787 / 6438

In [6]:
# compare results
result = ''
def analysis():
    if AK_ratio > AMW_ratio:
        result = 'AMW is delayed less often.'
    else: 
        result = 'AK is delayed less often.'
    return result

In [7]:
analysis()

'AK is delayed less often.'

'AK is delayed less often.'